@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto+Slab&display=swap');

.App {
  text-align: left;
  background-color: #fff8e1;
}

.Header {
  text-align: left;
  background-color: #00897b;
  color: white;
  font-family: 'Fira Code', monospace;
  padding: 0.5em 1em;
  margin: 0;
}

.Body {
  text-align: left;
  background-color: #fff8e1;
  font-family: 'Roboto Slab', serif;
  /* max-width: 50%; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Teal {
  color: #00897b
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */